body{
    background-color: #24353f;
    font-family: 'Titillium Web',sans-serif;
}

.login{
     box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 0.75);
}

h1{
    color: #17a2b8;
    font-size: 2.5rem;
}

input {
    background-color: transparent !important;
    color: white !important;
}

input::placeholder{
 color: rgb(182, 182, 182) !important;
}

input:focus
 {
    box-shadow: 0 0 0 0 transparent !important;
}

a {
    text-decoration: none !important;
    color: white !important;
}

a:hover{
    text-decoration: underline !important;
}

.navbar-brand {
    color: white !important;
}

 .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.navbar-toggler
{
    border-color: rgba(255, 255, 255, .1) !important;
}
.navbar-toggler:focus
{
    border-color:white !important;
    outline: none;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}
.btn-outline-warning{
    color:rgba(255, 255, 255, .5) !important;
    border:1px solid #ffc107 !important;
}

.btn-outline-warning:hover{
    color: rgba(255, 255, 255, .75) !important;
}


